<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Natusome</title>
</head>

<body>
    <section>
        <nav style="background-color: dimgrey;">

        </nav>
    </section>
    <section name="" id=""></section>
    <section name="today" id="today">
        <table>
            <tr></tr>
        </table>
    </section>
</body>

</html>