{% extends 'html/base.html'%}

{% block content %}
<nav>
    <div class="nav">
        <div class="icon">
            <img src="" alt="it's here" />
            <h4>Bethwel</h4>
            <p>Bethwel's Content</p>
        </div>
        <div class="link">
            <img src="" alt="About Project">
            <h2>About Project</h2>
        </div>
        <div class="link">
            <img src="" alt="About Project">
            <h2>About Bethwel</h2>
        </div>
    </div>

</nav>
<main>
    <section class="main_field">

        <div class="content">
            {% for idx, question, answer in todays_content %}
            <div class="{{idx}}">
                <p><u><b>Question: </b></u>{{question}}</p>
                <p> <u><b>Answer: </b></u>{{answer}}</p>
            </div>
            {% endfor %}
        </div>

    </section>
</main>
{% endblock %}

</html>