*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main{
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    display: flex;
    align-items: center;
    justify-content: center;

}
nav{
    background: #65dfc9;
    min-width: 10vw;
    height: 5vh;
    background: linear-gradient(
        to right bottom,
        #65dfc9, #6cdbeb
      );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    margin-top: 0;
    display: flex;
}

.link{
    display: flex;
    margin: 1rem 1rem;
}
.content> td:nth-child(3){
    background: #0c39ce;
}
.content > div:nth-child(2){
    background: #7e565e;
}
.content > div:nth-child(3){
    background: #7e565e;
}
.content > div:nth-child(4){
    background: #7e565e;
}
.content > div:nth-child(5){
    background: #7e565e;
}
.content > div:nth-child(6){
    background: #2f78b4;
}
.content > div:nth-child(7){
    background: #994199;
}

.one {
    grid-column: 1/4;
}

.two{
    grid-column: 1/4;
}


p{
    font-size: 1rem;

}